.dashboard {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: start;
  justify-self: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 46rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  color: var(--text-100);
}
