.chat {
  height: 100vh;
  width: 100%;
  display: flex;
  font-size: large;
  color: black;
  font-family: "Poppins", sans-serif;
}

.chatMenu {
  flex: 6;
  border-right: 0.5px solid grey;
}

.chatBox {
  flex: 11;
  border-right: 0.5px solid grey;
}

.chatBoxTop {
  height: 85%;
  overflow-y: scroll;
}

.chatBoxBottom {
  height: 15%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--primary-100); */
}

/* .chatOnline {
  flex: 7;
} */

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  height: 100%;
}

.chatMenuInput {
  width: 90%;
  background-color: var(--bg-100);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.chatBoxInput {
  height: 90px;
  flex: 2;
  margin-right: 20px;
  resize: none;
  border-radius: 10px;
  padding: 10px;
  outline: none;
}

.btnSend {
  /* flex: 1; */
}
