.contact {
  width: 100vw;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  background-image: linear-gradient(
    to bottom,
    #e9ebec,
    #dce8ee,
    #cee5f0,
    #c0e1f3,
    #b2def5,
    #a7daf5,
    #9bd6f5,
    #8fd2f5,
    #83cdf2,
    #76c7f0,
    #69c2ed,
    #5abdeb
  );
  overflow: hidden;
  position: relative;
}
.send {
  color: var(--bg-100);
  width: 9rem;
  background-image: linear-gradient(
    to right,
    #1b7dd8,
    #0b89dd,
    #0794e2,
    #169fe5,
    #29aae8,
    #3bb1eb,
    #4ab9ed,
    #58c0f0,
    #67c6f4,
    #74cbf7,
    #80d1fb,
    #8cd7ff
  );
  box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
  border-radius: 30px;
  padding: 0.9rem;
  transition: all 0.5s;

  border: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}
.home_send .send:hover {
  transform: translateZ(-2px);
  box-shadow: none;
}
.message_area {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  grid-column: 1/3;
}
.message {
  font-weight: 500;
  font-size: 1.3rem;
}
textarea {
  color: var(--text-100);
  font-size: 1.1rem;
  width: 100%;
  height: 10em;
  padding: 10px;
  border: none;
  outline: none;
  background: transparent;
  border: 2px solid var(--text-100);
  border-radius: 10px;
  resize: none;
  margin-top: 15px;
  margin-bottom: 30px;
  cursor: auto;
}
.custom-shape-divider-top-1703246710 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1703246710 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 147px;
}

.custom-shape-divider-top-1703246710 .shape-fill {
  fill: #ffffff;
}
.success_greencheck {
  display: none;
}
.success {
  width: 3rem;
  height: 3rem;
  display: inline;
  justify-self: center;
  align-self: center;
  padding: 0rem;
  padding-top: 0.3rem;
}
.vanish {
  display: none;
}
.check_img {
  width: 1.5rem;
}
